.block.notice
  %h3 Search
  .tag_search
    = form_for @search, :url => administration_tags_path, :html => {:method => :get} do |f|
      %p
        %h4 Tag:
        = f.text_field :name_contains

      %h3 Search params:
      .search_attr
        %p
          = f.radio_button :status_equals, true
          = f.label :status, "Hidden"
        %p
          = f.radio_button :status_equals, false
          = f.label :status, "Visible"

      %p
        = f.submit "Search"
        = link_to "Reset",administration_tags_path



