.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "List", administration_tags_path
  .content
    %h2.title
      All Tags
    .inner
      %table.table
        %tr
          %th= sort_link @search, :id, "ID"
          %th= sort_link @search, :name, "Name"
          %th.last
        - @tags.each do |tag|
          %tr{:class => cycle("odd", "even")}
            %td
              = tag.id
            %td
              = tag.name
            %td.last
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_administration_tag_path(tag)
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", administration_destroy_tag_path(tag), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @tags
- content_for :sidebar, render(:partial => 'sidebar')
