%li
  .post-tag{:id => "tag_#{tag.id}"}
    %label
      = tag.name
    = link_to "#", :onclick => "deleteTagAssociation('#{post.id.to_s}', '#{tag.id.to_s}', '#{form_authenticity_token}')" do
      = image_tag "cross.png"
  .clear