.center
  - @admins.each do |admin|
    .about
      %table{:width=>"100%", :cellspacing=>"0", :cellpadding=>"0", :border=>"1"}
        %TR
          %TH{:ROWSPAN => "2",:width=>"20%"}= image_tag admin.avatar.photo.url(:medium)
          %TH="Admin username:"
          %TH="Admin email:"
        %TR
          %TD{:width=>"30%"}= "#{admin.username}"
          %TD{:width=>"50%"}= mail_to "#{admin.email}", "#{admin.email}", :encode => "javascript"
  .clear
