.center
  .item
    %h2
      = @post.subject
    .by
      ="Posted by #{@post.admin.nick}@#{@post.created_at}"
    = raw @post.message
    .more
      &nbsp;
  .comments
    %h2
      Comments
    - @comments.each do |comment|
      .comment
        %strong
          = "#{comment.author} | #{l(comment.created_at, :format => :long)}"
        .avatar
          %span
        .message
          = comment.content
        .clear
  .clear
