.center
  .item
    %h2
      = @post.subject
    .by
      ="Posted by #{@post.admin.nick}@#{@post.created_at}"
    = raw @post.message
    .more
      &nbsp;
      - @post.tags.all.each do |tag|
        |
        = link_to tag.name, tags_path(tag.name)
  .comments
    %h2
      Comments
    - @post.comments.each do |comment|
      .comment
        %strong
          = "#{comment.author} | #{l(comment.created_at, :format => :long)}"
        .avatar
          %span
        .message
          %span
            = simple_format(comment.content)
        .clear
  .clear
  .comments
    %h2
      Leave a comment
    .comment
      = form_for :comment, :url => create_comment_path, :html => {:id => "comment"} do |f|
        %strong
          =f.label :author
          =f.text_field :author, :value => current_admin.try(:nick)
        .avatar
          %span
        .message
          =f.text_area :content
        .submit
          =f.submit :save
          .captcha_field
            = render :partial => "captcha"
          .clear
  .clear
