.group
  = f.label "Subject:"
  = f.text_field :subject
  = f.label "Disable this post"
  = f.check_box :status
  %p
    = f.label "Number of characters to show:"
    = f.text_field :truncate_character
.group
  = f.label "Message:"
  = f.cktext_area :message
.group.navform.wat-cf
  = f.submit "Save"
  = link_to "Cancel", administration_posts_path
%br>
%iframe{:src => preview_administration_posts_path(:id => @post.id.to_s), :id => "post-iframe", :width => "100%", :height => "480"}