.block.notice
  %h3 Search
  .post_search
    = form_for @search, :url => administration_posts_path, :html => {:method => :get} do |f|
      .search_attr
        %p
          = f.label :created_at, "Begin Date "
          = f.date_select :created_at, :default=>5.years.ago
        %p
          = f.label :created_at, "End Date "
          = f.date_select :created_at
        %p
          = f.check_box :status
          = f.label :status, "Disable "
      %p
        = f.submit "Search"
        = link_to "Reset",administration_posts_path