.block.notice
  .content
.block
  %h3 Manage tags
  %ul.navigation
    - post.tags.each do |tag|
      = render :partial => 'tag', :locals => {:tag => tag, :post => post}
  .new-tag
    = form_for :tags, :html => {:id => "tag-form"} do |f|
      = hidden_field_tag :post_id, post.id
      = f.text_field :name
      = f.submit "Add Tag"
