.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "List", "#"
      %li= link_to "New", new_administration_post_path
  .content
    %h2.title
      All Posts
    .inner
      %table.table
        %tr
          %th= sort_link @search, :subject, "Subject"
          %th= sort_link @search, :created_at, "Created at"
          %th.last &nbsp;
        - @posts.each do |post|
          %tr{:class => cycle("odd", "even")}
            %td
              = post.subject
            %td
              = post.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", administration_post_path(post)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_administration_post_path(post)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", administration_post_path(post), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
      = will_paginate @posts