.block.notice
  %h3 Search
  .post_search
    = form_for @search, :url => administration_admins_path, :html => {:method => :get} do |f|

      .search_attr

        %p
          = f.check_box :enable_is_false
          = f.label :enable, "Disable "


        %p
          = f.submit "Search"
          = link_to "Reset",administration_admins_path


