.group
  = f.label "Content:"
  = f.text_field :content
.group
  = f.label "Author:"
  = f.text_field :author
.group.navform.wat-cf
  = f.submit "Save"
  = link_to "Cancel", administration_post_path(post)
