.block.notice
  %h3 Search
  .comment_search
    = search_form_for @search, :url => administration_comments_path, :html => {:method => :get} do |f|
      .search_attr
        %p
          = f.label :created_at, "Begin Date "
          = f.date_select :created_at, :default=>5.years.ago
        %p
          = f.label :created_at, "End Date "
          = f.date_select :created_at
      %p
        = f.submit "Search"
        = link_to "Reset",administration_comments_path