.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "List", "#"
  .content
    %h2.title
      All Comments
    .inner
      %table.table
        %tr
          %th.first= sort_link @search, :content, "Comments"
          %th.last &nbsp;
        - @comments.each do |comment|
          %tr{:class => cycle("odd", "even")}
            %td= comment.content
            %td.last.show-comments
              %p
                %strong
                  ID:
                = comment.id
              %p
                %strong
                  Post ID:
                = comment.post.id
              %p
                %strong
                  Post Subject:
                = link_to comment.post.subject, administration_post_path(comment.post)
              %p
                %strong
                  Author:
                = comment.author
              %p
                %strong
                  Created at:
                = l(comment.created_at,:format => :short)
              %p
                %strong
                  Updated at:
                = l(comment.updated_at,:format => :short)
              %p
                \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_administration_comment_path(comment)}
                |
                \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", administration_comment_path(comment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}

    = will_paginate @comments
- content_for :sidebar, render(:partial => 'sidebar')
