!!!
%html
  %head
    %title Ruby Blog admin panel
    = stylesheet_link_tag "administration/admins"
    :javascript
      var CKEDITOR_BASEPATH = '/assets/ckeditor/';
    = javascript_include_tag "administration/admins"
    = csrf_meta_tags
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Ruby Blog admin panel
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              =link_to "Logout", destroy_admin_session_path, :method => :delete
        #main-navigation
          %ul.wat-cf
            %li{has_active_class?(administration_admins_path)}= link_to "Admins", administration_admins_path
            %li{has_active_class?(administration_posts_path)}= link_to "Posts",administration_posts_path
            %li{has_active_class?(administration_comments_path)}= link_to "Comments", administration_comments_path
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p{:style => "text-align: center;"}
                Copyright &copy; #{Time.now.year} Ruby Blog by #{link_to "Max Dolgih", "https://github.com/hiddenfile"} & #{link_to "Ivan Dzyzenko", "https://github.com/intale"}
        #sidebar
          = yield :sidebar