!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= @meta_title || "RubyBlog"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Ruby Learning blog on Ruby programming, Rails, Git, GitHub, Ajax, JavaScript, JQuery, MySQL, Training", :name => "description"}
    %meta{:content => "ruby, blog, rails, руби, руби начало, ruby on rails, Rails 3, git, JQuery, Ajax, JavaScript, programming, ruby on rail, Haml, gem", :name => "keywords"}
    %meta{:content => @page_tags || "ruby on rails blog", :name => "keywords"}
    %meta{:content => @meta_title || "rubyblog ruby on rails blog", :name => "description"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "https://apis.google.com/js/plusone.js"
    = javascript_include_tag "ga"
    = csrf_meta_tags
  %body
    / main styles
    .main.index
      .main1
        / H E A D E R  start
        .header
          %a.logo{:href => root_path}

          / h-menu start
          .h-menu
            #menu-elements
              %ul
                %li= link_to "Home", root_path
                %li= link_to "News", tags_path("News")
                %li
                  %a{:href => "javascript: void(0);"} FAQ
                %li= link_to "About Us", tags_path("About Us")
            #search-form
              = form_tag search_path, :method => "GET" do
                = text_field_tag :request
                = link_to "Search", "javascript: void(0);", :id => "submit-search"
                = hidden_field_tag :category, "in posts"

            .clear
          / h-menu end
        / H E A D E R  end
        / C O N T E N T  start

        .content
          = yield
          .right
            %h3 Categories
            .r-menu
              %ul
              - @tags.each do |tag|
                %li= link_to tag.name, tags_path(tag.name)
          / R I G H T
          .clear
        / C O N T E N T  end
    / /main styles
    / F O O T E R  start
    .footer
      \ Copyright &copy; #{Time.now.year} Ruby Blog by #{link_to "Max Dolgih", "https://github.com/hiddenfile"} & #{link_to "Ivan Dzyzenko", "https://github.com/intale"}
    / F O O T E R  end