!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title RubyBlog
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / main styles
    .main.index
      .main1
        / H E A D E R  start
        .header
          %a.logo{:href => "#"}
          / h-menu start
          .h-menu
            %ul
              %li= link_to "Home", root_path
              %li
                %a{:href => "#"} Contact
              %li
                %a{:href => "#"} Submit
              %li= link_to "About Us", about_us_path
          / h-menu end
        / H E A D E R  end
        / C O N T E N T  start
        .content
          = yield
          .right
            %h3 Categories
            .r-menu
              %ul
                %li
                  %a{:href => "#"} Documentation
                %li
                  %a{:href => "#"} General
                %li
                  %a{:href => "#"} Horizon
                %li
                  %a{:href => "#"} Jobs
                %li
                  %a{:href => "#"} Launches
                %li
                  %a{:href => "#"} Praise
                %li
                  %a{:href => "#"} Releases
                %li
                  %a{:href => "#"} Sightings
                %li
                  %a{:href => "#"} Tricks
                %li
                  %a{:href => "#"} Edge
                %li
                  %a{:href => "#"} Activism
          / R I G H T
          .clear
        / C O N T E N T  end
    / /main styles
    / F O O T E R  start
    .footer
      \© Copyright 2009-2011 Face IT
    / F O O T E R  end